:root, 
html[data-theme='light'] {
  --background-image: linear-gradient(45deg, #8098d1, #1464dd); 
  --text-color: #f3f0f0; 
  color-scheme: light; /
}

html[data-theme='dark'] {
  --background-image: linear-gradient(45deg, #4b4c4d, #000008 ); 
   --text-color: #f2f3f0;  
  color-scheme: dark; 
}
  
body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
  background-image: var(--background-image); 
  color: var(--text-color); 
  padding: 60px 24px 32px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  font-size: 18px;
}

.theme-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon {
  fill:#f3f0f0;
}




  
